
<div class="col-lg-9">
    <form method="post" action="/users/reset_password">
    <div class="card card-outline-secondary my-4">
        <div class="card-header">
            Reset Password
        </div>
        <div class="card-body">
            <input class="text" type="password" name="password" placeholder=" Old Password" required="">
        </div>
        <div class="card-body">
            <input class="text" type="password" name="password" placeholder="New Password" required="">
        </div>
        <div class="card-body">
            <input class="text" type="password" name="password" placeholder="Retype New Password" required="">
        </div>
    </div>
    <!-- /.card -->
    <hr>
    <div class="row">
        <div class="col-md-6">
             <button type="submit" class="btn btn-info">Save changes</button>
        </div>
    </div>
    <hr>
    </form>
</div>